
body{
    background-color: #fff;
}

/*
nav{
    border-bottom: solid 1px #fff
}
*/

#main{
    margin: auto;
    
    width: 66%;
    
    /* border: solid 1px pink; */
    display: flex;
    margin-top: 30vh;
}

#homeScreen{
    margin-top: 50px;
    text-align: center;
    border: solid 1px black;
    display: flex;
    /*
    justify-content: space-around;
    */
}

#icons{
    /* margin-left: 100px;
    */
    padding-left: 20%;
    margin: 0 auto;
    animation: fade 3s;
} 

#sentence{
    /* height: 100%;
    margin-top: 4%;
    margin-right: 30px; */

    /* padding-left: 200px;
    margin-top: 30px;
    animation: fade 3s; */

    margin: 0 auto;
}

#hi{
    animation: fade 1s;
}
#im{
    animation: fade 2s;
}
#chris{
    animation: fade 3s;
}
.fa-facebook-f{
    animation: fade 4s;
}
.fa-linkedin-in{
    animation: fade 5s;
}
.fa-github{
    animation: fade 6s;
}
.fa-envelope-square{
    animation: fade 7s;
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

h1{
    text-align: center;
    text-shadow: 1px 1px black;
}

i{
    color: #007bff;
    font-size: 50px;
    text-shadow: 1px 1px black;
    margin: 5px 5px;
}

i:hover{
    font-size: 60px;
}


#resumeScreen {
    color: #ccc;
    margin: auto;
    height: 600px;
    text-align: center;
}

embed {
    width: 100%;
    height: 100%;
}
